extends layout

block content

  div.card(style="width: 18rem; border: 1px solid #dee2e6; border-radius: .25rem;")
  img.card-img-top(src="../images/img.jpg" alt="..." style="width: 600px; height: 400px;")
  div.card-body
    h5.card-title Card Title
    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    a.btn.btn-primary(href="#") Go Somewhere


